# Ignore docs/html directory, that is actually a `gh-pages` branch 
/libs/type_index/doc/autodoc.xml
/libs/type_index/doc/html/


# While testing I use this project inside the SVN's /boost/trunk folders
# Follwoing rules ignore all the /boost's files, without ignorng the TypeIndex library

*~
*.svn
/boost/.svn/
/boost/accumulators
/boost/algorithm
/boost/aligned_storage.hpp
/boost/any.hpp
/boost/any.hpp~
/boost/archive
/boost/array.hpp
/boost/asio
/boost/asio.hpp
/boost/assert.hpp
/boost/assign
/boost/assign.hpp
/boost/atomic
/boost/atomic.hpp
/boost/bimap
/boost/bimap.hpp
/boost/bind
/boost/bind.hpp
/boost/blank_fwd.hpp
/boost/blank.hpp
/boost/call_traits.hpp
/boost/cast.hpp
/boost/cerrno.hpp
/boost/checked_delete.hpp
/boost/chrono
/boost/chrono.hpp
/boost/circular_buffer
/boost/circular_buffer_fwd.hpp
/boost/circular_buffer.hpp
/boost/compatibility
/boost/compressed_pair.hpp
/boost/concept
/boost/concept_archetype.hpp
/boost/concept_check
/boost/concept_check.hpp
/boost/config
/boost/config.hpp
/boost/container
/boost/context
/boost/coroutine
/boost/crc.hpp
/boost/cregex.hpp
/boost/cstdint.hpp
/boost/cstdlib.hpp
/boost/current_function.hpp
/boost/date_time
/boost/date_time.hpp
/boost/detail
/boost/dynamic_bitset
/boost/dynamic_bitset_fwd.hpp
/boost/dynamic_bitset.hpp
/boost/enable_shared_from_this.hpp
/boost/exception
/boost/exception_ptr.hpp
/boost/filesystem
/boost/filesystem.hpp
/boost/flyweight
/boost/flyweight.hpp
/boost/foreach_fwd.hpp
/boost/foreach.hpp
/boost/format
/boost/format.hpp
/boost/function
/boost/functional
/boost/functional.hpp
/boost/function_equal.hpp
/boost/function.hpp
/boost/function_output_iterator.hpp
/boost/function_types
/boost/fusion
/boost/generator_iterator.hpp
/boost/geometry
/boost/geometry.hpp
/boost/get_pointer.hpp
/boost/gil
/boost/graph
/boost/heap
/boost/icl
/boost/implicit_cast.hpp
/boost/indirect_reference.hpp
/boost/integer
/boost/integer_fwd.hpp
/boost/integer.hpp
/boost/integer_traits.hpp
/boost/interprocess
/boost/intrusive
/boost/intrusive_ptr.hpp
/boost/io
/boost/io_fwd.hpp
/boost/iostreams
/boost/is_placeholder.hpp
/boost/iterator
/boost/iterator_adaptors.hpp
/boost/iterator.hpp
/boost/lambda
/boost/last_value.hpp
/boost/lexical_cast.hpp
/boost/lexical_cast.hpp~
/boost/limits.hpp
/boost/locale
/boost/locale.hpp
/boost/local_function
/boost/local_function.hpp
/boost/lockfree
/boost/log
/boost/logic
/boost/make_shared.hpp
/boost/math
/boost/math_fwd.hpp
/boost/mem_fn.hpp
/boost/memory_order.hpp
/boost/move
/boost/mpi
/boost/mpi.hpp
/boost/mpl
/boost/msm
/boost/multi_array
/boost/multi_array.hpp
/boost/multi_index
/boost/multi_index_container_fwd.hpp
/boost/multi_index_container.hpp
/boost/multiprecision
/boost/next_prior.hpp
/boost/noncopyable.hpp
/boost/nondet_random.hpp
/boost/none.hpp
/boost/none_t.hpp
/boost/non_type.hpp
/boost/numeric
/boost/operators.hpp
/boost/optional
/boost/optional.hpp
/boost/parameter
/boost/parameter.hpp
/boost/pending
/boost/phoenix
/boost/phoenix.hpp
/boost/pointee.hpp
/boost/pointer_cast.hpp
/boost/pointer_to_other.hpp
/boost/polygon
/boost/pool
/boost/predef
/boost/predef.h
/boost/preprocessor
/boost/preprocessor.hpp
/boost/program_options
/boost/program_options.hpp
/boost/progress.hpp
/boost/progress.hpp~
/boost/property_map
/boost/property_tree
/boost/proto
/boost/ptr_container
/boost/python
/boost/python.hpp
/boost/random
/boost/random.hpp
/boost/range
/boost/range.hpp
/boost/ratio
/boost/ratio.hpp
/boost/rational.hpp
/boost/rational.hpp.htm
/boost/ref.hpp
/boost/regex
/boost/regex_fwd.hpp
/boost/regex.h
/boost/regex.hpp
/boost/scoped_array.hpp
/boost/scoped_ptr.hpp
/boost/scope_exit.hpp
/boost/serialization
/boost/shared_array.hpp
/boost/shared_container_iterator.hpp
/boost/shared_ptr.hpp
/boost/signal.hpp
/boost/signals
/boost/signals2
/boost/signals2.hpp
/boost/signals.hpp
/boost/smart_ptr
/boost/smart_ptr.hpp
/boost/spirit
/boost/spirit.hpp
/boost/statechart
/boost/static_assert.hpp
/boost/strong_typedef.hpp
/boost/swap.hpp
/boost/sync
/boost/system
/boost/test
/boost/thread
/boost/thread.hpp
/boost/throw_exception.hpp
/boost/timer
/boost/timer.hpp
/boost/token_functions.hpp
/boost/token_iterator.hpp
/boost/tokenizer.hpp
/boost/tr1
/boost/tti
/boost/tuple
/boost/type_erasure
/boost/type.hpp
/boost/typeof
/boost/type_traits
/boost/type_traits.hpp
/boost/type_traits.hpp~
/boost/units
/boost/unordered
/boost/unordered_map.hpp
/boost/unordered_set.hpp
/boost/utility
/boost/utility.hpp
/boost/uuid
/boost/variant
/boost/variant.hpp
/boost/version.hpp
/boost/visit_each.hpp
/boost/wave
/boost/wave.hpp
/boost/weak_ptr.hpp
/boost/xpressive


/libs/accumulators
/libs/algorithm
/libs/any
/libs/array
/libs/asio
/libs/assign
/libs/atomic
/libs/bimap
/libs/bind
/libs/chrono
/libs/circular_buffer
/libs/compatibility
/libs/compose
/libs/concept_check
/libs/config
/libs/container
/libs/context
/libs/conversion
/libs/coroutine
/libs/crc
/libs/date_time
/libs/detail
/libs/disjoint_sets
/libs/dynamic_bitset
/libs/exception
/libs/filesystem
/libs/flyweight
/libs/foreach
/libs/format
/libs/function
/libs/functional
/libs/function_types
/libs/fusion
/libs/geometry
/libs/gil
/libs/graph
/libs/graph_parallel
/libs/heap
/libs/icl
/libs/index.html
/libs/integer
/libs/interprocess
/libs/intrusive
/libs/io
/libs/iostreams
/libs/iterator
/libs/lambda
/libs/libraries.htm
/libs/locale
/libs/local_function
/libs/lockfree
/libs/log
/libs/logic
/libs/maintainers.txt
/libs/math
/libs/mem_fn
/libs/move
/libs/mpi
/libs/mpl
/libs/msm
/libs/multi_array
/libs/multi_index
/libs/multiprecision
/libs/numeric
/libs/optional
/libs/parameter
/libs/phoenix
/libs/platform_maintainers.txt
/libs/polygon
/libs/pool
/libs/predef
/libs/preprocessor
/libs/program_options
/libs/property_map
/libs/property_tree
/libs/proto
/libs/ptr_container
/libs/python
/libs/random
/libs/range
/libs/ratio
/libs/rational
/libs/regex
/libs/scope_exit
/libs/serialization
/libs/signals
/libs/signals2
/libs/smart_ptr
/libs/spirit
/libs/statechart
/libs/static_assert
/libs/sync
/libs/system
/libs/test
/libs/thread
/libs/timer
/libs/tokenizer
/libs/tr1
/libs/tti
/libs/tuple
/libs/type_erasure
/libs/typeof
/libs/type_traits
/libs/units
/libs/unordered
/libs/utility
/libs/uuid
/libs/variant
/libs/wave
/libs/xpressive
/libs/Jamfile.v2


/boost.css
/b2
/boost-build.jam
/rst.css
/boost.png
/bootstrap.sh
/project-config.jam
/Jamroot
/.gitignore~
/index.htm
/README.md
/boostcpp.jam
/INSTALL
/LICENSE_1_0.txt
/index.html
/bjam
/bootstrap.bat
/bootstrap.log
/boostcpp.py


/bin.v2/
/doc/
/more/
/status/
/tools/
stage/
